/* fonts */
.sarabun {
	font-family: 'Sarabun', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

/* base */
body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
}

.highlight-button {
	background: #3AE088;
	padding: 0.5em 2em;
	border: 0.2em solid #A2FBCC;
	border-radius: 4em;
	font-weight: bold;
	box-shadow: 0px 0px 0.5em #A2FBCC;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
}

/* header */
header {
  min-height: 100vh;
	background-image: linear-gradient(#236A5F, #263A5E);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.col2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

header > .container .event-date {
	font-size: 2em;
}

header > .container .event-time {
	font-size: 3em;
}

header > .container .event-description {
	font-size: 1.25em;
	margin-bottom: 4em;
}

header .buttons {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 2em;
	grid-gap: 2em;
	align-items: center;
}

header .buttons > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

header #logo {
	width: 100%;
}

nav {
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: auto max-content;
	align-items: center;
	color: white;
	padding: 1rem;
}

nav span {
	font-size: 2em;
}

nav ul {
	list-style: none;
	padding: 0;
	float: right;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.25em;
}

nav .fa {
	font-size: 1.4em;
}

/*
	main
*/
main {
	background: #263A5E;
	color: white;
	display: grid;
}

main aside {
	display: flex;
	align-items: center;
} 

main h1 {
	margin-top: 0;
	font-size: 2em;
}

main article p {
	font-size: 1.5em;
	line-height: 1.6em;
	text-justify: newspaper;
	text-align: justify;
}

main section {
	padding-bottom: 4em;
}

/*
	about us
*/
#about {
	background: linear-gradient(#263A5E, #41a3af);
}

#about > .container img {
	width: 100%;
}

#about article p:first-of-type:before, #about article p:last-of-type:after {
	content: "//";
	color: silver;
}

/*
	faq
*/
#faq {
	background: linear-gradient(#41a3af, #588b5c);
}

#faq article {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.card {
	flex: 1;
	background: white;
	border-radius: 2em;
	min-width: 20em;
	color: #606060;
	margin: 1em;
	padding: 2em 1em 1em 1em;
	text-align: center;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}

.card img {
	height: 3em;
}

.card h4 {
	font-weight: bold;
	font-size: 1.25em;
}

.card p {
	font-size: 1em;
	text-align: center;
}

/* last year */
#lastYear {
	background: linear-gradient(#588b5c, #fc7070);
}

#lastYear h1 {
	margin-bottom: 0;
	color: #3fce7f;
	text-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.6);
}

#lastYear #awesome {
	color: white;
	margin: 0 0.25em;
}

.subtitle {
	margin-top: 1em;
	font-size: 1.25em;
}

#lastYear article {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.2em;
	margin: 4em 0;
}

#lastYear article img {
	max-width: calc(100vw - 2rem);
	width: 100%;
	border: 4px solid #A2FBCC;
	box-shadow: 0px 0px 1em #A2FBCC;
	margin: 0 -8px 1em -8px;
}

#lastYear .centered {
	text-align: center;
}

/* sponsors */
#sponsors {
	background: linear-gradient(#fc7070, #bc4039);
}

#medals {
	margin-top: 5em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#medals > div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#medals .medal {
	height: 3em;
}

#medals p {
	margin-top: 1em;
	text-align: center;
	font-weight: bold;
}

#sponsors .sponsor {
	object-fit: contain;
}

/*
	footer
*/

footer {
	background: #212121;
	padding: 2rem 0;
	text-align: center;
	color: white;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li {
	display: inline-block;
	font-size: 2em;
}

footer ul li a {
	color: white;
	text-decoration: none;
}

footer ul li:not(:last-child) {
	margin-right: 0.5em;
}

footer #email {
	color: white;
}

@media only screen and (max-width: 1200px) {
	.container {
		max-width: calc(100vw - 4em);
	}
}

@media only screen and (max-width: 1300px) {
	#lastYear article {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 800px) {
	#lastYear article {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 600px) {
	#lastYear article {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 800px) {
	.card {
		min-width: 80vw;
		max-width: 80vw;
	}

	.col2 {
		grid-template-columns: none;
		grid-template-rows: auto auto;
		text-align: center;
		padding: 1em 0 4em 0;
	}

	header .buttons {
		padding: 0 1em;
		grid-template-columns: 1fr 1fr;
	}

	header #logo {
		grid-row: 1;
		max-height: 30vh;
		object-fit: contain;
	}

	#medals {
		grid-template-columns: none;
		grid-template-rows: auto auto auto;
		gap: 5em;
	}
}

/* mobile nav */
#mobilenav {
	display: none;
}

@media only screen and (max-width: 1000px) {
	#mobilenav {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 4rem;
		background: black;
		color: white;
		text-align: right;
		align-items: center;
		justify-content: flex-end;
		padding: 0 1rem;
	}
	#mobilenav .fa {
		font-size: 2.5rem;
	}
	header {
		margin-top: 4rem;
	}
	nav {
		display: none;
		background: black;
		top: 4rem;
		grid-template-columns: none;
		text-align: center;
		bottom: 0;
	}
	nav.opened {
		display: grid;
	}
	#navlogo {
		display: none;
	}
	nav ul li {
		display: block;
		margin-right: 0;
		margin-bottom: 3em;
	}
}
