$sarabun: 'Sarabun', sans-serif
$roboto: 'Roboto', sans-serif 
$footer: #212121
$footer-font-color: #ffffff


@function calculateRem($size)
  $remSize: $size / 16px
  @return #{$remSize}rem

@mixin fontSize($size) 
  font-size: $size //Fallback in px
  font-size: calculateRem($size)

html, body
    margin: 0
    display: flex
    flex-direction: column
header
    height: 100vh
    background-image: linear-gradient(#23811B, #202F4F)

footer
    background-color: $footer
    align-content: flex-end
    color: $footer-font-color
    font-family: $sarabun
    text-align: center
    font-weight: 200
    h4
        display: inline
    .img-facebook
        width: 35px
        height: 23px
        vertical-align: middle
    .img-instagram
        width: 36px
        height: 27px
        vertical-align: middle
    .title-box
        display: flex
        align-items: center
        justify-content: center
        padding: 10px
    ul
        list-style-type: none
    address
        font-style: normal
        @include fontSize(12px)
    .link
        color: inherit
    .designer
        color: #D1D1D1
        @include fontSize(12px)
    .copywrite
        color: #D8D8D8
        font-style: normal
        font-weight: 200
        @include fontSize(10px)


.sarabun
    font-family: $sarabun

.roboto
    font-family: $roboto

h1
    font-family: $sarabun
p
    font-family: $roboto
    margin: 0
    padding: 0

nav
    background-color: red
    display: flex
    position: fixed
    width: 100vw
    justify-content: space-between
    height: 10vh
    align-items: center
    
    ul
        list-style-type: none
        margin: 0
        padding: 0
        overflow: hidden
        background-color: yellow
        padding: 0 1rem
        height: 10vh
        display: flex
        flex-direction: columns
        align-items: center
        li
            background-color: orange
            float: left
            padding: 0.5rem 0.8rem
            margin: 0 1rem
