@use "header"
@use "footer"
@use "nav"
@use "main"
@import "base"

html, body
    margin: 0
    display: flex
    flex-direction: column
    font-family: $roboto

.sarabun
    font-family: $sarabun
.sarabun200
    font-family: $sarabun
    font-weight: 200
.sarabun500
    font-family: $sarabun
    font-weight: 500
.sarabun800
    font-family: $sarabun
    font-weight: 800

.roboto
    font-family: $roboto

h1
    font-family: $sarabun
p
    font-family: $roboto
    margin: 0
    padding: 0

